<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation Panel template</title>
</head>
<body>
    <wicket:panel>
        <ul>
            <li>
                <a href="#" wicket:id="home_link">Home page</a>
            </li>
            <li>
                <a href="#" wicket:id="user_display_link">User display</a>
            </li>
            <li>
                <a href="#" wicket:id="modify_random_user_link">Modify random user</a>
            </li>
        </ul>
    </wicket:panel>

</body>
</html>